<!-- Page to display details of a post -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>{{post.title}}</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-dark bg-dark">
        <!-- home link -->
        <a class="navbar-brand text-light" href="/all/">/all/</a>
        <!-- if a user is signed in, welcome them -->
        {% if user.is_authenticated %}
        <span class="navbar-text"> Welcome, <a href="/profile/{{user.id}}"></a>{{user}}</a>! </span>
        {% endif %}
    </nav>
    <!-- Return to the index page -->
    <div class="container">
        <a href="/all/">Back</a>
    </div>
    <!-- displaying the post info -->
    <div class="container">
        <!-- post title -->
        <h1>{{post.title}}</h1>
        <!-- post content -->
        <p>{{post.content}}</p>
        <!-- posted user and thread -->
        <p>posted by {{post.userPosted}} in <a href="/threads/{{post.thread.id}}">/{{post.thread.title}}/</a></p>
        <!-- posted date -->
        <p>{{post.pub_date.date}}</p>
        <!-- posted time -->
        <p>{{post.pub_date.time}}</p>
    </div>
</body>

</html>